<h1>Teste Sisand!</h1>
<p>Bem-vindos ao Teste Dev 2021, utilizando as seguintes tecnologias:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para o Server-Side</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para Client-Side</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para layout e estilização</li>
</ul>
<p>Segue abaixo alguns links que podem lhe ajudar:</p>
<ul>
  <li><strong>Documentações das API's: </strong> <a href="https://localhost:44359/documentation" target="_blank">Clique Aqui</a></li>
  <li><strong>Link do repositório do código: </strong><a href="https://github.com/andregoltz/Teste-Dev-2021">Clique Aqui</a></li>
  <li><strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/andregoltz/">Clique Aqui</a></li>
</ul>
<h1>Descrição do Teste</h1>
<p style="text-indent: 40px">Desenvolver uma aplicação que possua uma interface de login a qual deverá validar se o usuário e senha informados existem no banco de dados antes de permitir o acesso a tela principal.</p>
<p style="text-indent: 40px">Após o login, a tela principal deve apresentar um menu simples com um item chamado Cadastro de Clientes.</p>
<p style="text-indent: 40px">O menu Cadastro de Clientes deverá encaminhar para uma nova página, a qual deve possuir uma listagem de todos os clientes cadastrados e um botão para inserir um novo cliente. A listagem de clientes deve ter a funcionalidade de permitir a edição do cliente selecionado. Essa edição deve ser feita em uma nova página, carregando todos os dados do cliente e permitindo alterar as informações. O botão novo cliente deve direcionar para a mesma página utilizada para edição, porém trazendo os campos em branco para que seja possível incluir um novo cliente.</p>
<p style="text-indent: 40px">A listagem deve apresentar os seguintes dados do cliente:</p>
<ul>
	<li>Nome</li>
	<li>CPF</li>
	<li>Data de nascimento</li>
</ul>
<p style="text-indent: 40px">A edição deve apresentar os mesmos campos da listagem e mais uma lista de telefones (DDD) e Número para que seja possível incluir e deletar diversos contatos para o cliente. Antes de incluir um cliente devemos validar se já não existe um cliente com mesmo CPF. Antes de incluir um telefone devemos validar se o telefone já não existe para aquele cliente.
</p>
